
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}


<div class="col-md-9" ng-controller="postDetailController">
    <div class="row">
        <div class="col-md-12 room-main-content">
            <div class="pt-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="http://phongtot.vn">Trang chủ</a></li>
                    <li><a href="http://phongtot.vn/bai-viet">{{postDetail.PostCategory.Name}}</a></li>
                    <li class="active">{{postDetail.Name}}</li>
                </ol>
            </div>

            <div class="post-detail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-title">
                            <a href="javascript:void()"><h1>{{postDetail.Name}}</h1></a>
                        </div>
                        <div class="social-facebook">
                            <div class="pull-left">
                                <div class="fb-share-button" data-href="http://localhost:32963//Post/{{infoDetail.ID}}" d data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <div class="fb-like" data-href="http://localhost:32963/Info/Post/{{infoDetail.ID}}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="javascript:void();"><span>Lượt xem : </span>{{postDetail.ViewCount}}</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="post-hr"><hr></div>
                        <div class="post-content" ng-bind-html="postDetail.Content">

                        </div>
                        <div class="post-tag">
                            <span>Từ khóa: </span>
                            <a href="#" title=""></a>
                            <a href="#" title=""></a>
                            <a href="#" title=""></a>
                        </div>
                        <div class="post-social-end">
                            <div class="pull-left">
                                <img class="img-responsive" src="http://phongtot.vn/themes/client/img/like_share_footer.png" alt="">
                            </div>
                            <div class="pull-right">
                                <div class="fb-share-button" data-href="http://localhost:32963//Post/{{infoDetail.ID}}" d data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <div class="fb-like" data-href="http://localhost:32963/Info/Post/{{infoDetail.ID}}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- End Block Social -->
                        <div class="post-comment">
                            <div class="post-container-comment-title pull-left"><span>Bình luận</span></div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="fb-comments" data-href="http://localhost:32963/Info/Detail/&#123;&#123;infoDetail.ID&#125;&#125;" data-width="100%" data-numposts="5"></div>
                        </div>
                        <!-- End Block Comment -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-item-same-category">
                                    <div class="post-container-same-category-title pull-left"><span>Bài viết khác</span></div>
                                    <div class="post-container-same-category-more pull-right"><a href="http://phongtot.vn/bai-viet">Xem tất cả <i class="fa fa-angle-right"></i></a></div>
                                    <div class="clearfix"></div>
                                    <hr>
                                </div>
                            </div>
                            <!-- End article same category -->
                            <div class="col-md-4 same-category-item" ng-repeat="item in postReated | limitTo:6">
                                <a href="/Post/Detail/{{item.ID}}" class="post-item-a">
                                    <img class="img-responsive" src="http://localhost:33029/Content/images/{{item.Image}}">
                                    <h2 class="same-category-item-title">{{item.Name}}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 sidebar"  ng-controller="postDetailController">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="advance-search" ng-controller="SearchInfoController">
                <div class="title">
                    <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                </div>
                <div class="shr"><hr></div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select class="form-control address_input" name="province_id" ng-change="getAlDistrictByProvince(keywords.Provinceid)" ng-model="keywords.Provinceid" ng-options="option.provinceid as option.name for option in province">
                            <option value="">Chọn Tỉnh Thành</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select name="district_id" ng-change="getAlWardByDistrict(keywords.Districtid)" ng-model="keywords.Districtid" ng-options="option.districtid1 as option.name for option in district" class="form-control address_input">
                            <option value="">Chọn Tỉnh/Thành trước</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select id="street_id" name="ward_id" ng-model="keywords.Wardid" ng-options="option.wardid1 as option.name for option in ward" class="form-control address_input" size="1">
                            <option value="">Chọn Quận/huyện trước</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select id="street_id" name="ward_id" ng-model="keywords.CategoryID" ng-options="option.CategoryID as option.Name for option in categoryinfo" class="form-control address_input" size="1">
                            <option value="">Chọn Loại Phòng</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="group-price pull-left" style="width: 100%;">
                    <div class="group-title">Chọn khoảng giá</div>
                    <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options"></rzslider>
                    <div class="extra-controls">
                        <div class="form-group input-price">
                            <div class="price-from">
                                <div class="input-group">
                                    <input type="text" name="price_from" ng-model="slider.minValue" class="inp js-from form-control">
                                    <span class="input-group-addon">Triệu</span>
                                </div>
                            </div>
                            <span class="input-price-title">Đến</span>
                            <div class="price-to">
                                <div class="input-group">
                                    <input type="text" name="price_to" ng-model="slider.maxValue" class="inp js-to form-control">
                                    <span class="input-group-addon">Triệu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button type="submit" ng-click="search()" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
        </div>
    </div>

    @*<div class="row">
        <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
        </div>
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
        </div>
    </div>*@
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 sidebar-article-label">
            <div class="pull-left">
                <a href=""><h3><span>bài viết</span> mới</h3></a>
            </div>
            <div class="pull-right">
                <a href=""></a><h3>
                    <a href="">Xem thêm <i class="fa fa-angle-right"></i></a>
                </h3>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new" ng-repeat="item in Post | limitTo:6">
            <a href="/Post/Detail/{{item.ID}}">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" ng-src="http://localhost:33029/Content/images/{{item.Image}}" alt="">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>{{item.Name}}</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>