
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="col-md-12 submit-room-breadcrumb">
    <div class="pt-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="http://phongtot.vn">Trang chủ</a></li>
            <li class="active">Đăng tin</li>
        </ol>
    </div>
</div>
<form ng-controller="infoController" novalidate name="frmAddInfo" role="form" ng-submit="createInfo(infoAdd)" data-parsley-validate>
    <div class="col-md-2 no-padding-vertical submit-room-main-content">
        <div id="step-2" class="submit-list-type">
            <div class="list-type-title">
                <ul><li class="li-label">Chọn loại Phòng</li></ul>
            </div>
            <div class="checkbox checkbox-success">
                <ul>
                    <li ng-repeat="items in categoryinfo">
                        <input type="radio" ng-model="infoAdd.CategoryID" name="needed" id="{{items.ID}}" required value="{{items.ID}}">
                        <label for="{{items.ID}}">{{items.Name}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="step-3" class="col-md-10 no-padding-right submit-room-main-content" style="display: block;">
        <div class="list-type-title">
            <ul><li class="li-label">Bước 3 Nhập Thông Tin Chi Tiết</li></ul>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label">Tiêu đề</div>
                    <div>
                        <input type="text" id="title" name="Name" ng-change="GetSeoTitle()" ng-maxlength="256" required ng-model="infoAdd.Name" class="form-control" value="">
                        <span class="help-block"></span>
                        @*<span ng-show="frmAddInfo.Name.$invalid" class="has-error">Phải nhập tên Tiêu Đề</span>
                            <span ng-show="frmAddInfo.Name.$error.maxlength" class="has-error">Tên Tiêu Đề chỉ được 256 ký tự</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">Seo Title</div>
                    <div>
                        <input type="text" name="Alias" ng-model="infoAdd.Alias" class="form-control" value="">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-6 no-padding-left">
                    <div class="form-group">
                        <div>
                            <div class="control-label">Giá</div>
                            <div class="input-group">
                                <input type="number" name="Price" ng-model="infoAdd.Price" class="form-control money-input" data-thousands="," data-decimal="." data-precision="0">
                                <span class="input-group-addon">đ/tháng</span>
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding-right">
                    <div class="form-group">
                        <div>
                            <div class="control-label">Diện tích</div>
                            <div class="input-group">
                                <input type="number" name="Acreage" ng-model="infoAdd.Acreage" class="form-control" placeholder="nhập số, viết liền">
                                <span class="input-group-addon">M<sup>2</sup></span>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label">Tỉnh/Thành phố</div>
                            <div>
                                <select name="province_id" ng-change="getAlDistrictByProvince(infoAdd.Provinceid)" required ng-model="infoAdd.Provinceid" ng-options="option.provinceid as option.name for option in province" class="form-control address_input">
                                    <option value="">Chọn</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label">Quận/Huyện</div>
                            <div>
                                <select name="district_id" required ng-change="getAlWardByDistrict(infoAdd.Districtid)" ng-model="infoAdd.Districtid" ng-options="option.districtid1 as option.name for option in district" class="form-control address_input">
                                    <option value="">Chọn Tỉnh/Thành trước</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <dv class="clearfix"></dv>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label">Xã/Phường</div>
                            <div>
                                <select id="street_id" required name="ward_id" ng-model="infoAdd.Wardid" ng-options="option.wardid1 as option.name for option in ward" class="form-control address_input" size="1">
                                    <option value="">Chọn Quận/huyện trước</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label">Số Điện Thoại</div>
                            <div>
                                <input type="text" name="Phone" required ng-model="infoAdd.Phone" class="form-control address_input" value="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="control-label">Địa Chỉ Cụ Thể</div>
                            <div>
                                <input type="text" name="Phone" required ng-model="infoAdd.Address" class="form-control address_input" value="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="additional-row">
                <div class="col-md-12">
                    <div class="list-type-title">
                        <ul><li class="li-label">Thông tin bổ sung <span></span></li></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Phòng Ngủ</div>
                                    <div>
                                        <select name="floor" ng-model="infoAdd.OtherInfo.FloorNumber" class="form-control" size="1">
                                            <option value="Tầng 1">Tầng 1</option>
                                            <option value="Tầng 2">Tầng 2</option>
                                            <option value="Tầng 3">Tầng 3</option>
                                            <option value="Tầng 4">Tầng 4</option>
                                            <option value="Tầng 5">Tầng 5</option>
                                            <option value="Tầng 6">Tầng 6</option>
                                            <option value="Tầng 7">Tầng 7</option>
                                            <option value="Tầng 8">Tầng 8</option>
                                            <option value="Tầng 9">Tầng 9</option>
                                            <option value="Tầng 10">Tầng 10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Vệ sinh</div>
                                    <div>
                                        <select name="wc" ng-model="infoAdd.OtherInfo.ToiletNumber" class="form-control" size="1">
                                            <option value="Khép kín">Khép kín</option>
                                            <option value="Chung">Chung</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="tang">
                                    <div class="control-label">Chọn Phòng Ngủ</div>
                                    <div>
                                        <select name="floor" ng-model="infoAdd.OtherInfo.BedroomNumber" class="form-control" size="1">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="vs">
                                    <div class="control-label">Hướng nhà</div>
                                    <div>
                                        <select name="direction" ng-model="infoAdd.OtherInfo.Compass" class="form-control">
                                            <option value="Đông">Đông</option>
                                            <option value="Đông bắc">Đông bắc</option>
                                            <option value="Đông nam">Đông nam</option>
                                            <option value="Bắc">Bắc</option>
                                            <option value="Tây">Tây</option>
                                            <option value="Tây bắc">Tây bắc</option>
                                            <option value="Tây nam">Tây nam</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Chưa xác định">Chưa xác định</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <div class="control-label">Giá Điện</div>
                                    <div class="input-group">
                                        <input type="number" name="Price" ng-model="infoAdd.OtherInfo.ElectricPrice" class="form-control money-input" data-thousands="," data-decimal="." data-precision="0">
                                        <span class="input-group-addon">đ/tháng</span>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <div class="control-label">Giá Nước</div>
                                    <div class="input-group">
                                        <input type="number" name="Price" ng-model="infoAdd.OtherInfo.WaterPrice" class="form-control money-input" data-thousands="," data-decimal="." data-precision="0">
                                        <span class="input-group-addon">đ/tháng</span>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="submit-info-title">Tiện nghi sẵn có</div>
                    <div class="form-group room-option">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="items in Convenient">
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" checklist-model="infoAdd.OtherInfo.Convenient" id="dexe" checklist-value="items">
                                    <label for="dexe">{{items}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="height: 5px;"></div>

        </div>
        <link href="~/bower_components/jasny-file-input/dist/fileinput.css" rel="stylesheet" />
        <script src="~/bower_components/jasny-file-input/dist/fileinput.js"></script>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div>
                        <div class="control-label">Ảnh Đại Diện</div>
                        <div class="col-sm-6 no-padding-left">
                            <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 100%;">
                                <div class="fileinput-new thumbnail" style="width: 100%; height: 150px;">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="width: 100%; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Chọn Ảnh</span>
                                        <span class="fileinput-exists">Thay Đổi</span>
                                        <input type="file" required name="Image" ng-file-select="prepareFiles($files)">
                                        <span ng-show="frmAddInfo.Image.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                                    </span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Xóa</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="alert alert-info">Ảnh đẹp sẽ giúp tăng truy cập vào bài đăng của bạn</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div>
                        <div class="control-label">Hình Anh</div>
                        <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods">
                            <div class="dz-default dz-message">
                                <span>Đăng nhiều hình thật nhanh bằng cách kéo và thả hình vào khung này hoặc nhấn nút phía trên rồi chọn nhiều hình cùng lúc</span>
                            </div>
                        </ng-dropzone>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div>
                        <div class="control-label">Mô Tả Chi Tiết</div>
                        <div class="">
                            <textarea ui-tinymce="tinymceOptions" ng-model="infoAdd.Content"></textarea>
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    
                    <fieldset class="gllpLatlonPicker">
                        <input type="hidden" class="gllpSearchField" value="">
                        <input type="hidden" class="gllpSearchButton btn-success" value="Tìm vị trí">
                        <!-- <br/><br/> -->
                        <div class="gllpMap">Google Maps</div>
                        <!-- <br/>
                        lat/lon: -->
                        <input type="hidden" id="Lat" name="location[N]" ng-model="infoAdd.Lat" class="gllpLatitude"  value="{{infoAdd.Lat}}" />
                        <!-- / -->
                        <input type="hidden" id="Lng" name="location[E]" ng-model="infoAdd.Lng" class="gllpLongitude" value="{{infoAdd.Lng}}" />
                        <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15" />
                        <input type="hidden" class="gllpUpdateButton" value="update map">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-12 submit-btn-room">
            <button type="submit"  class="btn btn-send-room" ng-disabled="frmAddInfo.$invalid"><span class="fa fa-send"></span>Đăng tin</button>
        </div>
    </div>

</form>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVprSsYgH9JhgdlCD7N3gcMxo50Pm-8lU">
</script>
<link href="~/bower_components/jquery-latitude-longitude-picker-gmaps/css/jquery-gmaps-latlon-picker.css" rel="stylesheet" />
<script src="~/bower_components/jquery-latitude-longitude-picker-gmaps/js/jquery-gmaps-latlon-picker.js"></script>