@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="col-md-9" ng-controller="infoDetailController">
    <div class="row">
        <div class="col-md-12 room-main-content">
            <div class="pt-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="http://phongtot.vn">Trang chủ</a></li>
                    <li><a href="http://phongtot.vn/phong-tro-nha-tro">{{infoDetail.CategoryInfo.Name}}</a></li>
                    <li class="active">{{infoDetail.Name}}</li>
                </ol>
            </div><div class="room-detail">
                <div class="title">
                    <a href="javascript: void(0);"><h1>{{infoDetail.Name}}</h1></a>
                </div>
                <!-- Nhà trọ, Phòng trọ -->
                <div class="main-info">
                    <div class="row">
                        <div class="col-md-8 left-info no-padding-right">
                            <div class="address">
                                <span class="btn info-label">Địa chỉ</span>
                                <a class="" href="">{{infoDetail.Wardid1.name}}</a>, <a class="" href="">{{infoDetail.Districtid1.name}}</a>, <a class="" href="">{{infoDetail.Province.name}}</a>
                            </div>
                            <div class="size">
                                <span class="btn info-label">Diện tích</span>
                                <a href="" class="btn info-data">{{infoDetail.Acreage}}m<sup>2</sup></a>
                                <span class="btn info-label">Loại phòng</span>
                                <a href="">{{infoDetail.CategoryInfo.Name}}</a>
                            </div>
                            <div class="tang">
                                <span class="btn info-label">Tầng</span>
                                <a href="" class="btn info-data"> {{infoDetail.OtherInfo.FloorNumber}} </a>
                                <span class="btn info-label">Hướng Nhà</span>
                                <a href="">{{infoDetail.OtherInfo.Compass}}</a>
                            </div>
                            <div class="vs">
                                <span class="btn info-label">Vệ sinh</span>
                                <a href="" class="btn info-data">{{infoDetail.OtherInfo.ToiletNumber}}</a>
                                <span class="btn info-label">Số người ở</span>
                                <a href="">{{infoDetail.OtherInfo.BedroomNumber}}</a>
                            </div>
                            <div class="type">
                                <span class="btn info-label">Giá điện</span>
                                <a href="" class="btn info-data">{{infoDetail.OtherInfo.ElectricPrice | number}} VNĐ</a>
                                <span class="btn info-label">Giá nước</span>
                                <a href="">{{infoDetail.OtherInfo.WaterPrice | number}} VNĐ</a>
                            </div>
                            <div class="type">
                                <span class="btn info-label">Tiện ích</span>
                                <a href="" ng-repeat="item in Convenient">{{item}},</a>
                            </div>
                        </div>
                        <div class="col-md-4 info-contact no-padding-left">
                            <div class="contact-label">
                                <a href=""><span class="fa fa-mobile-phone"></span>Thông tin liên hệ</a>
                            </div>
                            <div class="chr"><hr></div>
                            <div class="info-price">
                                <a href=""><span class="fa fa-unlock-alt"></span>{{infoDetail.Price| number}} Đ/tháng</a>
                            </div>
                            <div class="info-boss">
                                <a href=""><span class="fa fa-user"></span>Phòng Tốt Team</a>
                            </div>
                            <div class="info-phone">
                                <a href=""><span class="fa fa-mobile-phone"></span>{{infoDetail.Phone}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-detail-img">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="sync1" class="owl-carousel">
                                <div class="item" ng-repeat="img in moreImages">
                                    <img class="img-responsive" ng-src="http://localhost:33029/Content/images/{{img}}">
                                </div>
                            </div>
                            <div id="sync2" class="owl-carousel">
                                <div class="item" ng-repeat="img in moreImages">
                                    <img class="img-responsive" ng-src="http://localhost:33029/Content/images/{{img}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-detail-des">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="des-label room-list-category">
                                <div class="pull-left">
                                    <a href="javascript: void(0);"><h3><span>Thông tin</span> chi tiết <i class="fa fa-angle-right"></i></h3></a>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                            <div class="dis-content" ng-bind-html="infoDetail.Content">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-detail-map">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="map-label room-list-category">
                                <div class="pull-left">
                                    <a href=""><h3><span>Bản đồ</span> vị trí <i class="fa fa-angle-right"></i></h3></a>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                            <div class="map-content">
                                <div style="height:400px;width:100%;" id="map"></div>
                            </div>
                            <input type="hidden" id="hidLat" value="{{infoDetail.Lat}}" />
                            <input type="hidden" id="hidLng" value="{{infoDetail.Lng}}" />
                            <script>
                                setTimeout(function initMap() {
                                    var uluru = { lat: parseFloat($('#hidLat').val()), lng: parseFloat($('#hidLng').val()) };
                                    console.log(uluru);
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 15,
                                        center: uluru
                                    });
                                    var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map
                                    });
                                },1000);
                            </script>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVprSsYgH9JhgdlCD7N3gcMxo50Pm-8lU&callback=initMap">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 sidebar">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="advance-search" ng-controller="SearchInfoController">
                <div class="title">
                    <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                </div>
                <div class="shr"><hr></div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select class="form-control address_input" name="province_id" ng-change="getAlDistrictByProvince(keywords.Provinceid)" ng-model="keywords.Provinceid" ng-options="option.provinceid as option.name for option in province">
                            <option value="">Chọn Tỉnh Thành</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select name="district_id" ng-change="getAlWardByDistrict(keywords.Districtid)" ng-model="keywords.Districtid" ng-options="option.districtid1 as option.name for option in district" class="form-control address_input">
                            <option value="">Chọn Tỉnh/Thành trước</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select id="street_id" name="ward_id" ng-model="keywords.Wardid" ng-options="option.wardid1 as option.name for option in ward" class="form-control address_input" size="1">
                            <option value="">Chọn Quận/huyện trước</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-select btn-select-light btn-select-city">
                        <select id="street_id" name="ward_id" ng-model="keywords.CategoryID" ng-options="option.CategoryID as option.Name for option in categoryinfo" class="form-control address_input" size="1">
                            <option value="">Chọn Loại Phòng</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="group-price pull-left" style="width: 100%;">
                    <div class="group-title">Chọn khoảng giá</div>
                    <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options"></rzslider>
                    <div class="extra-controls">
                        <div class="form-group input-price">
                            <div class="price-from">
                                <div class="input-group">
                                    <input type="text" name="price_from" ng-model="slider.minValue" class="inp js-from form-control">
                                    <span class="input-group-addon">Triệu</span>
                                </div>
                            </div>
                            <span class="input-price-title">Đến</span>
                            <div class="price-to">
                                <div class="input-group">
                                    <input type="text" name="price_to" ng-model="slider.maxValue" class="inp js-to form-control">
                                    <span class="input-group-addon">Triệu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button type="submit" ng-click="search()" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="" pagespeed_url_hash="3823440975" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
    </div>

    <div class="row">
        <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="" pagespeed_url_hash="2304746762" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="" pagespeed_url_hash="2725309099" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 sidebar-article-label">
            <div class="pull-left">
                <a href="http://phongtot.vn/bai-viet"><h3><span>bài viết</span> mới</h3></a>
            </div>
            <div class="pull-right">
                <a href="http://phongtot.vn/bai-viet"></a><h3>
                    <a href="http://phongtot.vn/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                </h3>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ngoi-nha-46m²-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo_cover-573eddf84424b.jpg" alt="" pagespeed_url_hash="1469250980" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Ngôi nhà 46m² tuyệt đẹp có chi phí hoàn thiện 480 triệu đồng chàng trai 8x xây tặng vợ</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu_cover-573dcbc3ac6e2.jpg" alt="" pagespeed_url_hash="2616505349" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Ý tưởng kinh doanh nhà trọ, ngồi không mỗi tháng kiếm trăm triệu?</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/nhung-dieu-can-biet-khi-tim-phong-tro_cover-5714ad734268d.jpg" alt="" pagespeed_url_hash="1795872361" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Những điều cần biết khi tìm phòng trọ</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/thiet-ke-can-ho-‪‬173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong_cover-57018c103e17a.jpg" alt="">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Thiết kế căn hộ ‪‬173m2 cực đẹp với chi phí chỉ 17 triệu đồng</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/pham-huong-mac-gian-di-giao-luu-cung-sinh-vien_cover-57018a97e544c.jpg" alt="" pagespeed_url_hash="2806860473" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Phạm Hương mặc giản dị giao lưu cùng sinh viên</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="http://phongtot.vn/bai-viet">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/vi-sao-chon-nganh-hot-van-that-nghiep_cover-57017e8c0162e.jpg" alt="" pagespeed_url_hash="133360725" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>Vì sao chọn ngành 'hot' vẫn thất nghiệp?</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
