@using Microsoft.AspNet.Identity
<header id="header" class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a class="logo" href="">
                        <img class="img-responsive" src="">
                    </a>
                </div>

                <div class="pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="header-top-avatar">
                            <img class="img-responsive" src="">
                        </div>
                        <div class="header-top-user">
                            <div class="user-name">
                                <a href="#">@User.Identity.GetUserName()</a>
                            </div>
                            <div class="dropdown user-info">
                                <a href="javascript: void(0);" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thông tin tài khoản <b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown-menu-right menu-user-info" aria-labelledby="dropdownMenu1">
                                    <li><a href="">Trang cá nhân</a></li>
                                    <li><a href="">Tin đã đăng</a></li>
                                    <li><a href="">Tin đã lưu</a></li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="header-top-user">
                            <div class="user-login"><a class="load_modal_login" href="#" data-toggle="modal" data-target="#myModal">Đăng nhập</a></div>
                            <div class="user-register load_modal_register">
                                <a href="javascript: void(0);" data-toggle="modal" data-target="#myModal">Tạo tài khoản</a>
                            </div>
                        </div>
                    }
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="pull-right">
                        <a class="btn btn-submit-room" href="/Info/Create">Đăng tin miễn phí</a>
                    </div>
                }
                else
                {
                    <div class="pull-right">
                        <a class="btn btn-submit-room load_modal_login" data-toggle="modal" data-target="#myModal" href="javascript: void(0);">Đăng tin miễn phí</a>
                    </div>
                }
                <div class="modal fade" id="modal_auth" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Form Login-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Đăng Nhập</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs no-margin">
                    <li id="li_login" class=""><a href="#tab_auth_login" data-toggle="tab" aria-expanded="true">ĐĂNG NHẬP</a></li>
                    <li id="li_register" class=""><a href="#tab_auth_register" data-toggle="tab" aria-expanded="false">ĐĂNG KÝ</a></li>
                </ul>
                <div class="tab-content" style="padding-top: 50px;">
                    <div class="tab-pane fade in" id="tab_auth_login">
                        <div class="row">
                            @{Html.RenderAction("Login", "Account");}
                        </div>
                        @*<div class="sto-login-social social-buttons col-lg-6">
                                <a class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
                                    <span class="fa fa-facebook"></span> Đăng Nhập Với Facebook
                                </a>
                            </div>*@
                    </div>
                    <div class="tab-pane fade in" id="tab_auth_register">
                        <div class="row">
                            @{Html.RenderAction("Register", "Account");}
                        </div>
                    </div>
                </div>
            </div>
            <div class="line_orn"></div>
            <div class="modal-footer">
                <strong>Study Online</strong> Cộng đồng học Online<strong>MIỄN PHÍ</strong>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('body').on('click', '.load_modal_login',
        function (e) {
            $('#li_register').removeClass('active');
            $('#li_login').addClass('active');
            $('#tab_auth_register').removeClass('in active');
            $('#tab_auth_login').addClass('in active');
        });
    $('body').on('click', '.load_modal_register', function (e) {
        $('#li_login').removeClass('active'); $('#li_register').addClass('active');
        $('#tab_auth_login').removeClass('in active');
        $('#tab_auth_register').addClass('in active');
    });
</script>