<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)"  style="display:inline">
        <ul class="pagination">
            <li ng-class="{disabled: page == 0}">
                <a ng-click="search(page)">«</a>
            </li>
            <li ng-repeat="n in range()" ng-class="{active: n == page}">
                <a ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <span ng-if="n == page">{{n+1}}</span>
            </li>
            <li ng-class="{disabled: page == pagesCount - 1}">
                <a  ng-click="search(pagesCount - 1)">»</a>
            </li>
        </ul>
    </div>
</div>
