<!DOCTYPE html>
<html>
<head>
    <title>Chúc mừng bạn. Tin của bạn đã được đăng thành công! </title>
    <meta charset="utf-8" />
</head>
<body>
    Chào bạn,

    Chúc mừng bạn. Tin của bạn đã được đăng thành công!
    Bạn có thể tạo tài khoản miễn phí bằng cách bấm vào nút “Đăng ký” trên trang chủ Chợ Tốt. Các chức năng Sửa tin, Ẩn tin, Đẩy tin trong tài khoản sẽ giúp bạn quản lý tin dễ dàng hơn. Sau khi bán được sản phẩm, bạn hãy dùng chức năng “Ẩn tin” để tránh nhận thêm các cuộc gọi.

    Nếu có thắc mắc, bạn hãy gởi email đến trogiup@phongtot.vn. Chúc bạn nhanh chóng bán được hàng!

    Thân mến,
    phongtot.vn
</body>
</html>