
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content">
    <ol class="breadcrumb">

        <li><a href="index.html">Home</a></li>
        <li>App Templates</li>
        <li>eCommerce</li>
        <li class="active"><a href="app-ecommerce-order-list.html">eCommerce Order List</a></li>
    </ol>
    <div class="container-fluid">

    </div> <!-- .container-fluid -->
</div>