<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title title-heading">Cập Nhập Danh Mục Tin Tức</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form ng-submit="UpdatePostCategory();" role="form" name="EditPostCategory" id="EditPostCategory">
                            <div class="col-lg-8">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>(<span style="color:#FF0000">*</span>)
                                        <input type="text"
                                               required
                                               ng-maxlength="256"
                                               ng-change="GetSeoTitle()"
                                               ng-model="postcategory.Name"
                                               class="form-control"
                                               name="Name" />
                                        <span ng-show="EditPostCategory.Name.$invalid" class="error">Phải nhập tên tiêu đề</span>
                                        <span ng-show="EditPostCategory.Name.$error.maxlength" class="error ">Tên danh mục chỉ được 256 ký tự</span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Tiêu đề Seo</label>(<span style="color:#FF0000">*</span>)
                                        <input type="text"
                                               required
                                               ng-maxlength="256"
                                               ng-model="postcategory.Alias"
                                               class="form-control"
                                               name="Alias" />
                                        <span ng-show="EditPostCategory.Alias.$invalid" class="error">Phải nhập tên tiêu đề</span>
                                        <span ng-show="EditPostCategory.Alias.$error.maxlength" class="error ">Tên danh mục chỉ được 256 ký tự</span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mô Tả Ngắn</label>(<span style="color:#FF0000">*</span>)
                                        <textarea ng-model="postcategory.Description"
                                                  required
                                                  ng-maxlength="500"
                                                  name="Description"
                                                  style="width:100%;height:100px"></textarea>
                                        <span ng-show="EditPostCategory.Description.$invalid" class="error">Phải nhập mô tả ngắn</span>
                                        <span ng-show="EditPostCategory.Description.$error.maxlength" class="error ">ảnh chỉ được 500 ký tự</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Cấp</label>(<span style="color:#FF0000">*</span>)
                                        <select style="width:100%" kendo-drop-down-list
                                                name="categoryId"
                                                k-option-label="'Chọn danh mục'"
                                                k-data-text-field="'Name'"
                                                k-data-value-field="'ID'"
                                                ng-model="postcategory.ParentID"
                                                k-data-source="lispostCategories"
                                                class=""></select>
                                        <!--<select name="categoryId"
                                                class="form-control"
                                                ng-model="postcategory.ParentID"
                                                ng-options="option.ID as option.Name for option in lispostCategories">
                                            <option value="">Chọn danh mục</option>
                                        </select>-->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ngày Nhập</label>(<span style="color:#FF0000">*</span>)
                                        <input kendo-date-picker
                                               style="width: 100%;"
                                               ng-model="postcategory.CreatedDate"
                                               k-format="'dd/MM/yyyy'" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="control-label">Kích hoạt</label>(<span style="color:#FF0000">*</span>)</br>
                                        <input bs-switch
                                               ng-model="postcategory.Status"
                                               type="checkbox">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" ng-disabled="EditPostCategory.$invalid" class="btn btn-block btn-primary"><i class="fa fa-plus-square" aria-hidden="true" style="padding-right:10px"></i>Lưu lại</button>
                                </div>
                                <div class="col-lg-6">
                                    <a ui-sref="postcategory" class="btn btn-block btn-info"><i class="fa fa-reply-all" aria-hidden="true" style="padding-right:10px"></i>Quay Lại</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>