<div class="box-header with-border breadcrumb-page">
    <h3 class="box-title title-heading"><i class="fa fa-cog"></i> Application settings</h3>
</div>
<div class="order-content">
    <ul class="add-request ">
        <li><a href="" class="btn label-warning">Cài đặt</a></li>
    </ul>
    <div class="details-content form-horizontal" style="padding: 30px;">
        <div class="panel-group">
            <div class="panel panel-default advanced-setting">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input bs-switch
                                   ng-model="filter.Status"
                                   type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><span class="control-label">Admin area allowed IP</span></div>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control text-box single-line"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
