@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using PhongTot.Web.Models;
<div class="static-sidebar-wrapper sidebar-midnightblue">
    <div class="static-sidebar">
        <div class="sidebar">
            @if (Request.IsAuthenticated)
            {
                var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                var currentUser = manager.FindById(User.Identity.GetUserId());
                <div class="widget stay-on-collapse" id="widget-welcomebox">
                    <div class="widget-body welcome-box tabular">
                        <div class="tabular-row">
                            <div class="tabular-cell welcome-avatar">
                                <a href="#"><img src="@currentUser.Avater" class="avatar"></a>
                            </div>
                            <div class="tabular-cell welcome-options">
                                <a href="#" class="name">@currentUser.FullName</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li>
                            <a href=""><i class="fa fa-home"></i><span>Danh Mục</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-home"></i><span>Phòng</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Administrator/InfoAdmin/Index">Quản Lý Phòng</a></li>
                                <li><a href="/Administrator/InfoAdmin/Index"></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-fw fa-user"></i><span>Phân Quyền</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Administrator/Role/Index">Quản Lý Quyền</a></li>
                                <li><a href="/Administrator/Role/RegisterRole">Thêm Quyền Người Dùng</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>