
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorizeFailed</title>
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet" />
</head>
<body class="error">


    <div class="error-wrapper">
        <div class="container">
            <h1>Xin Lỗi!</h1>
            <p>Bạn không có quyền truy cập vào địa chỉ này.</p>
            <p> Vui lòng thử lại sau.</p>
        </div>
    </div>
</body>
</html>
