<section class="content">
    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a>
                        <img src="/Content/images/user1-128x128.jpg" />
                    </a>
                    <h1>{{account.FullName}}</h1>
                    <p>{{account.Email}}</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li><a ui-sref="membershipview({id:account.Id})"> <i class="fa fa-user"></i> Hồ sơ</a></li>
                    <li><a href=""> <i class="fa fa-calendar"></i> Hoạt động gần đây <span class="label label-danger pull-right r-activity">9</span></a></li>
                    <li><a ui-sref="membershipeidt({id:account.Id})"> <i class="fa fa-edit"></i>Cập nhập hồ sơ</a></li>
                    <li><a ui-sref="membershipeidt({id:item.Id})"> <i class="fa fa-edit"></i> Reset mật khẩu</a></li>
                    <li><a ui-sref="membership"> <i class="fa fa-reply-all" aria-hidden="true"></i> Quay lại</a></li>
                </ul>

            </section>
        </aside>
        <aside class="profile-info col-lg-9">
            <section class="panel">
                <div class="bio-graph-heading">
                    Hồ sơ bản thân
                </div>
                <form ng-submit="updateAccount()" class="form-horizontal" id="frmUpdateAccount" style="padding-top:30px" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Họ và tên</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   required
                                   ng-maxlength="100"
                                   ng-model="account.FullName"
                                   class="form-control"
                                   name="FullName" />
                            <span ng-show="frmUpdateAccount.FullName.$invalid" class="error">Phải nhập họ và tên</span>
                            <span ng-show="frmUpdateAccount.FullName.$error.maxlength" class="error ">Họ và tên chỉ được 100 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên tài khoản</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   required
                                   ng-maxlength="100"
                                   disabled="disabled"
                                   ng-model="account.UserName"
                                   class="form-control"
                                   name="Username" />
                            <span ng-show="frmUpdateAccount.UserName.$invalid" class="error">Phải nhập tên tài khoản</span>
                            <span ng-show="frmUpdateAccount.UserName.$error.maxlength" class="error ">Tên tài khoản chỉ được 100 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-8">
                            <input type="email"
                                   required
                                   disabled="disabled"
                                   ng-model="account.Email"
                                   class="form-control"
                                   name="Email" />
                            <span class="error" ng-show="frmUpdateAccount.Email.$error.required">
                                Vui lòng nhập email
                            </span>
                            <span class="error" ng-show="frmUpdateAccount.Email.$error.email">
                                Không phải là email
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Điện thoại</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   required
                                   ng-maxlength="13"
                                   ng-model="account.PhoneNumber"
                                   class="form-control"
                                   name="PhoneNumber" />
                            <span ng-show="frmUpdateAccount.PhoneNumber.$invalid" class="error">Vui lòng nhập số điện thoại</span>
                            <span ng-show="frmUpdateAccount.PhoneNumber.$error.maxlength" class="error ">Số điện thoại chỉ được 13 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Ngày sinh</label>
                        <div class="col-lg-8">
                            <input type="text" asDate name="birthDate" class="form-control datepicker" ng-model="account.BirthDay">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Địa chỉ</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   required
                                   ng-maxlength="256"
                                   ng-model="account.Address"
                                   class="form-control"
                                   name="Address" />
                            <span ng-show="frmUpdateAccount.Address.$invalid" class="error">Vui lòng nhập địa chỉ</span>
                            <span ng-show="frmUpdateAccount.Address.$error.maxlength" class="error ">Địa chỉ chỉ được 256 ký tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Kĩ năng</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   ng-model="account.Skill"
                                   class="form-control"
                                   name="Skill" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Quốc gia</label>
                        <div class="col-lg-8">
                            <input type="text"
                                   ng-model="account.Country"
                                   class="form-control"
                                   name="Country" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-sm-10">
                            <label ng-repeat="group in groups">
                                <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-3">
                            <button type="submit" ng-disabled="frmUpdateAccount.$invalid" class="btn btn-block btn-primary"><i class="fa fa-plus-square" aria-hidden="true" style="padding-right:10px"></i>Lưu lại</button>
                        </div>
                        <div class="col-lg-3">
                            <a ui-sref="membershipview({id:account.Id})" class="btn btn-block btn-info"><i class="fa fa-reply-all" aria-hidden="true" style="padding-right:10px"></i>Quay Lại</a>
                        </div>
                    </div>
                </form>
            </section>

        </aside>
    </div>

</section>
<script>
    $('.datepicker').datepicker({
        fomat: "dd/MM/yyyy"
    });
</script>