<section class="content">
    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a>
                        <img src="/Content/images/user1-128x128.jpg" />
                    </a>
                    <h1>{{account.FullName}}</h1>
                    <p>{{account.Email}}</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li><a ui-sref="membershipview({id:account.Id})"> <i class="fa fa-user"></i> Hồ sơ</a></li>
                    <li><a href=""> <i class="fa fa-calendar"></i> Hoạt động gần đây <span class="label label-danger pull-right r-activity">9</span></a></li>
                    <li><a ui-sref="membershipeidt({id:account.Id})"> <i class="fa fa-edit"></i>Cập nhập hồ sơ</a></li>
                    <li><a ui-sref="membershipeidt({id:item.Id})"> <i class="fa fa-edit"></i> Reset mật khẩu</a></li>
                    <li><a ui-sref="membership"> <i class="fa fa-reply-all" aria-hidden="true"></i> Quay lại</a></li>
                </ul>

            </section>
        </aside>
        <aside class="profile-info col-lg-9">
            <section class="panel">
                <div class="bio-graph-heading">
                    Hồ sơ bản thân
                </div>
                <form ng-submit="updateAccount()" class="form-horizontal" id="frmUpdateAccount" style="padding-top:30px" role="form">
                    <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.name.$invalid && !frmUpdateAccount.name.$pristine }">
                        <label class="col-lg-3 control-label">Họ và tên</label>
                        <div class="col-lg-8">
                            <input type="text" name="name" class="form-control"
                                   required reqired-message="Họ tên bắt buộc." ng-model="account.FullName">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.userName.$invalid && !frmUpdateAccount.userName.$pristine }">
                        <label class="col-lg-3 control-label">Tài khoản</label>
                        <div class="col-lg-8">
                            <input type="text" name="userName" class="form-control"
                                   required reqired-message="Tài khoản bắt buộc." ng-model="account.UserName">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.email.$invalid && !frmUpdateAccount.email.$pristine }">
                        <label class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-8">
                            <input type="email" name="email" class="form-control"
                                   required reqired-message="Email bắt buộc." ng-model="account.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Điện thoại</label>
                        <div class="col-lg-8">
                            <input type="text" name="password" class="form-control"
                                   ng-model="account.PhoneNumber">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.birthDate.$invalid && !frmUpdateAccount.birthDate.$pristine }">
                        <label class="col-lg-3 control-label">Ngày sinh</label>
                        <div class="col-lg-4">
                            <input type="text" name="birthDate" class="form-control datepicker"
                                   required reqired-message="Ngày sinh bắt buộc." ng-model="account.BirthDay">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-sm-10">
                            <label ng-repeat="group in groups">
                                <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-3">
                            <button type="submit" ng-disabled="frmUpdateAccount.$invalid" class="btn btn-block btn-primary"><i class="fa fa-plus-square" aria-hidden="true" style="padding-right:10px"></i>Lưu lại</button>
                        </div>
                        <div class="col-lg-3">
                            <a  ui-sref="membershipview({id:account.Id})" class="btn btn-block btn-info"><i class="fa fa-reply-all" aria-hidden="true" style="padding-right:10px"></i>Quay Lại</a>
                        </div>
                    </div>
                </form>
            </section>
            
        </aside>
    </div>

</section>
<script>
    $('.datepicker').datepicker({
        fomat:"dd/MM/yyyy"
    });
</script>