<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom box-primary">
                <div class="box-header with-border breadcrumb-page">
                    <h3 class="box-title title-heading"><i class="fa fa-file-text-o"></i><span> Thành Viên</span> ❯ Danh Sách Thành Viên</h3>

                </div>
                <div class="order-content">

                    <ul class="add-request ">
                        <li><a class="btn label-warning" ui-sref="postcategoryadd">+ Thêm Mới</a></li>
                    </ul>
                    <div class="box-header with-border title-page-button">
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <label class="control-label">Từ khóa</label>
                                <input ng-model="filter.Keywords" type="text" class="form-control">
                            </div>
                            <div class="col-lg-2">
                                <label class="control-label">Trạng thái</label>
                                <input bs-switch
                                       ng-model="filter.Status"
                                       type="checkbox">
                            </div>
                            <div class="col-lg-2" style="padding-top:25px;">
                                <button type="button" ng-click="Search()" class="btn btn-primary">Tìm Kiếm</button>
                            </div>
                        </div>
                    </div>
                    <div class="details-content">
                        <div class="col-xs-12">
                            <div class="order-details order-items-list">
                                <div class="table-responsive  table-hover">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên người dùng</th>
                                                <th>Tài khoản</th>
                                                <th>Email</th>
                                                <th>Trạng Thái</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in data">
                                                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.FullName}}</a></td>
                                                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.UserName}}</a></td>
                                                <td>{{item.Email}}</td>
                                                <td><span class="label label-info">{{item.EmailConfirmed |statusFilter}}</span></td>

                                                <td>
                                                    <a ui-sref="membershipeidt({id:item.Id})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="no-data center" ng-show="data==0">
                                        <img src="/Content/images/no-data.png">
                                        <p>Không có bản ghi nào được tìm thấy</p>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</div>
                                    </div>
                                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getAllCategoryInfo(page)"></pager-directive>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>