<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">

    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">

    <link rel="stylesheet" href="~/Content/css/styleInventory.css">
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>E-</b>Leisure</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>E-Leisure</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>avfdcdc avfdcdc avfdcdc?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>avfdcdc avfdcdc avfdcdc?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>avfdcdc avfdcdc avfdcdc?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>avfdcdc avfdcdc avfdcdc?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>avfdcdc avfdcdc avfdcdc?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>



                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>

                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>avfdcdc avfdcdc avfdcdc
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i>avfdcdc avfdcdc avfdcdc
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> avfdcdc avfdcdc avfdcdc
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i>avfdcdc avfdcdc avfdcdc
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i>avfdcdc avfdcdc avfdcdc
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/images/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Mr.Glenn</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Mr.Glenn - Web Designer
                                        <small>Member since Nov. 2016</small>
                                    </p>
                                </li>

                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div style="float:left;margin-left:22px;">
                                <a href="#" class="btn btn-default btn-flat">Setting</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <!---   <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>  -->
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!---
                     <div class="user-panel">
                        <div class="pull-left image">
                          <img src="~/Content/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                          <p>Nguyet Thu</p>
                          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                      </div>  -->
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu-->
                <ul class="sidebar-menu">
                    <!--- <li class="header">DASHBOARD</li> -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i> <span>Request</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="home"> Order</a></li>
                            <li><a  ui-sref="infos"> Travel</a></li>
                            <li><a href="#"> Expense</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check-circle-o"></i>
                            <span>Approval</span>
                            <i class="count-menu">69</i>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Order</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Expense</a></li>


                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Procure</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Procurement</a></li>
                            <li><a href="#">P.O.History</a></li>
                            <li><a href="#">Vendors</a></li>
                            <li><a href="#">Product Catalog</a></li>

                        </ul>
                    </li>


                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span>Receive</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Purchase Order Reicive</a></li>

                        </ul>
                    </li>



                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cube"></i>
                            <span>Inventory</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"> Sales Quotation</a></li>
                            <li><a href="#">Sales Order</a></li>
                            <li><a href="#"> Delivery Note</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dollar"></i>
                            <span>Payment</span>
                            <i class="count-menu">69</i>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"> Payment processing</a></li>
                            <li><a href="#"> Payee Management</a></li>
                            <li><a href="#"> Paymentlog</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sliders"></i> <span>Manage</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"> Budget Control</a></li>
                            <li><a href="#"> Accounts</a></li>
                            <li><a href="#"> Approval Routing</a></li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-line-chart"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"> Account Group Report</a></li>
                            <li><a href="#"> Account Leger Report</a></li>
                            <li><a href="#">Day Book</a></li>
                            <li><a href="#"> Cash/Bank Book</a></li>
                            <li><a href="#">Outstranding Report</a></li>
                            <li><a href="#">Ageing Report</a></li>
                            <li><a href="#">Stock Report</a></li>
                            <li><a href="#">Damaged Stock Report</a></li>
                            <li><a href="#">Short Expiry Report</a></li>
                            <li><a href="#">Price List Report</a></li>
                            <li><a href="#">Damaged Stock Report</a></li>
                            <li><a href="#">Short Expiry Report</a></li>
                            <li><a href="#">Price List Report</a></li>
                            <li><a href="#">SCheque Report</a></li>
                            <li><a href="#">Product Vs Batch Report</a></li>
                            <li><a href="#">C/o Report</a></li>
                            <li><a href="#">C/o Report</a></li>
                            <li><a href="#">Product Profit Report</a></li>
                            <li><a href="#">Product Statistics Report</a></li>
                            <li><a href="#">Free Sale Report</a></li>
                            <li><a href="#">Sales Report</a></li>
                            <li><a href="#">Purchase Report</a></li>
                            <li><a href="#">Service Report</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cog"></i> <span>Settings</span>
                        </a>
                    </li>

                    <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div ui-view></div>
        </div>
        <script src="~/Content/js/jquery-2.2.3.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/app.min.js"></script>
        <script src="~/bower_components/toastr/toastr.js"></script>





        <!-- Angularjs -->
        <script src="~/bower_components/angular/angular.js"></script>
        <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/app/app.js"></script>
        <script src="~/app/shared/services/apiService.js"></script>
        <script src="~/app/shared/commonService/notificationService.js"></script>
        <script src="~/app/shared/directives/pagerDirective.js"></script>
        <script src="~/app/components/info/InfoListController.js"></script>
        <script src="~/app/components/home/homeController.js"></script>
    </div>
</body>
</html>

