<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">

    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">

    <link rel="stylesheet" href="~/Content/css/styleInventory.css">
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/bower_components/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet" />
    <link href="~/bower_components/ng-tags-input/ng-tags-input.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div ui-view></div>
    
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/app.min.js"></script>
    <script src="~/Content/Plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Plugins/html5-form-validation/jquery.validation.js"></script>



    <!-- Angularjs -->
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/commonService/notificationService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="~/bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <script src="~/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="~/app/components/account/loginController.js"></script>
    <script src="~/app/components/info/InfoListController.js"></script>
    <script src="~/app/components/post/postListController.js"></script>
    <script src="~/app/components/post/postAddController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/categoryInfo/categoryInfoListController.js"></script>
    <script src="~/app/components/categoryInfo/categoryInfoAddController.js"></script>
    <script src="~/app/components/categoryInfo/categoryInfoEditController.js"></script>
    <script src="~/app/components/postCategory/postCategoryListController.js"></script>
    <script src="~/app/components/postCategory/postCategoryAddController.js"></script>
</body>
</html>

