
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12 room-main-content">
            <div class="tabbable-panel" ng-controller="infoController">
                <div class="tabbable-line">
                    <div class="menu-tab">
                        <div class="menu-tab-title"><a href=""><span>Tin</span> Mới nhất <i class="fa fa-angle-right"></i></a></div>
                        <div class="menu-tab-title-right">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_type" data-toggle="tab">Tất cả</a>
                                </li>
                                <li class="" ng-repeat="item in InfoCategory">
                                    <a href="#tab_type_{{item.ID}}" data-toggle="tab">{{item.Name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_type">
                            <div class="thumbnail-list">
                                <div class="row block-item">
                                    <div class="col-sm-6 col-md-4 thumbnail-item" ng-repeat="items in Info">
                                        <div class="thumbnail">
                                            <a href="/Info/Detail/{{items.ID}}" title="{{items.Name}}">
                                                <img class="cover img-reponsive" src="http://localhost:33029/Content/images/{{items.Image}}" />
                                            </a>
                                            <div class="room-item-price">
                                                <a href="">{{items.Price| number}} Đ/tháng</a>
                                            </div>
                                            <div class="caption">
                                                <div class="title">
                                                    <h2><a href="">{{items.Name}}</a></h2>
                                                </div>
                                                <div class="extra">
                                                    <div class="pull-left">
                                                        <a href="#"><span class="fa fa-map-marker"></span>{{items.Province.name}}</a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href=""><span class="fa fa-info"></span>{{items.Acreage}} m<sup>2</sup></a>
                                                    </div>
                                                    <div class="type">
                                                        <a href=""><span class="fa fa-home"></span>{{items.CategoryInfo.Name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " ng-repeat="category in InfoCategory" id="tab_type_{{category.ID}}">
                            <div class="thumbnail-list">
                                <div class="row block-item">

                                    <div class="col-sm-6 col-md-4 thumbnail-item" ng-repeat="items in category.Infoes | limitTo:9">
                                        <div class="thumbnail">
                                            <a href="/Info/Detail/{{items.ID}}" title="{{items.Name}}">
                                                <img class="cover img-reponsive" src="http://localhost:33029/Content/images/{{items.Image}}" />
                                            </a>
                                            <div class="room-item-price">
                                                <a href="">{{items.Price| number}} Đ/tháng</a>
                                            </div>
                                            <div class="caption">
                                                <div class="title">
                                                    <h2><a href="">{{items.Name}}</a></h2>
                                                </div>
                                                <div class="extra">
                                                    <div class="pull-left">
                                                        <a href="#"><span class="fa fa-map-marker"></span>{{items.Province.name}}</a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href=""><span class="fa fa-info"></span>{{items.Acreage}} m<sup>2</sup></a>
                                                    </div>
                                                    <div class="type">
                                                        <a href=""><span class="fa fa-home"></span>{{category.Name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="overlay">
                                                <a href="#" title="">
                                                    <img src="img/play.png">
                                                </a>
                                            </div> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-article">
                <div class="row">
                    <div class="col-md-12 home-article-label">
                        <div class="pull-left">
                            <a href="http://phongtot.vn/bai-viet"><h3><span>bài viết</span> liên quan</h3></a>
                        </div>
                        <div class="pull-right">
                            <a href=""></a><h3>
                                <a href="http://phongtot.vn/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <div class="col-md-7 left">
                        <div class="thumbnail thumb-big">
                            <a href="http://phongtot.vn/bai-viet/ngoi-nha-46m%C2%B2-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo">
                                <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ngoi-nha-46m²-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo_cover-573eddf84424b.jpg" alt="ngoi-nha-46m²-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo">
                                <h2 class="title">Ngôi nhà 46m² tuyệt đẹp có chi phí hoàn thiện 480 triệu đồng chàng trai 8x xây tặng vợ</h2>
                            </a>
                            <div class="des">Ngôi nhà của Nguyễn Hoàng Hiệp tặng cho vợ sắp cưới không chỉ đẹp như nhà Tây mà tổng chi phí xây dựng, thiết kế, trang trí chỉ vỏn vẹn ở con số 480 triệu đồng.</div>
                        </div>
                        <div class="col-md-4 thumbnail thumb-small">
                            <a href="http://phongtot.vn/bai-viet/y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu">
                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu_cover-573dcbc3ac6e2.jpg" alt="y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu">
                                <h2 class="title" href="http://phongtot.vn/bai-viet/y-tuong-kinh-doanh-nha-tro-ngoi-khong-moi-thang-kiem-tram-trieu">Ý tưởng kinh doanh nhà trọ, ngồi không mỗi tháng kiếm trăm triệu?</h2>
                            </a>
                        </div>
                        <div class="col-md-4 thumbnail thumb-small">
                            <a href="http://phongtot.vn/bai-viet/nhung-dieu-can-biet-khi-tim-phong-tro">
                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/nhung-dieu-can-biet-khi-tim-phong-tro_cover-5714ad734268d.jpg" alt="nhung-dieu-can-biet-khi-tim-phong-tro">
                                <h2 class="title" href="http://phongtot.vn/bai-viet/nhung-dieu-can-biet-khi-tim-phong-tro">Những điều cần biết khi tìm phòng trọ</h2>
                            </a>
                        </div>
                        <div class="col-md-4 thumbnail thumb-small">
                            <a href="http://phongtot.vn/bai-viet/thiet-ke-can-ho-%E2%80%AA%E2%80%AC173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong">
                                <img class="img-reponsive" src="http://media.phongtot.vn/xc5tx4cj/thiet-ke-can-ho-‪‬173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong_cover-57018c103e17a.jpg" alt="thiet-ke-can-ho-‪‬173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong">
                                <h2 class="title" href="http://phongtot.vn/bai-viet/thiet-ke-can-ho-%E2%80%AA%E2%80%AC173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong">Thiết kế căn hộ ‪‬173m2 cực đẹp với chi phí chỉ 17 triệu đồng</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 right">
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/pham-huong-mac-gian-di-giao-luu-cung-sinh-vien">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/pham-huong-mac-gian-di-giao-luu-cung-sinh-vien_cover-57018a97e544c.jpg" alt="pham-huong-mac-gian-di-giao-luu-cung-sinh-vien">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/pham-huong-mac-gian-di-giao-luu-cung-sinh-vien">Phạm Hương mặc giản dị giao lưu cùng sinh viên</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/vi-sao-chon-nganh-hot-van-that-nghiep">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/vi-sao-chon-nganh-hot-van-that-nghiep_cover-57017e8c0162e.jpg" alt="vi-sao-chon-nganh-hot-van-that-nghiep">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/vi-sao-chon-nganh-hot-van-that-nghiep">Vì sao chọn ngành 'hot' vẫn thất nghiệp?</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/sinh-vien-my-chon-nganh-hoc-the-nao">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/sinh-vien-my-chon-nganh-hoc-the-nao_cover-57017d118c141.jpg" alt="sinh-vien-my-chon-nganh-hoc-the-nao">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/sinh-vien-my-chon-nganh-hoc-the-nao">Sinh viên Mỹ chọn ngành học thế nào?</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/nha-bao-bi-danh-sinh-vien-bao-chi-co-lung-lay">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/nha-bao-bi-danh-sinh-vien-bao-chi-co-lung-lay_cover-57017a46119c8.jpg" alt="nha-bao-bi-danh-sinh-vien-bao-chi-co-lung-lay">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/nha-bao-bi-danh-sinh-vien-bao-chi-co-lung-lay">Nhà báo bị đánh, sinh viên báo chí có lung lay?</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/hon-100-sinh-vien-bi-dung-hoc-vi-cham-dong-hoc-phi">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/hon-100-sinh-vien-bi-dung-hoc-vi-cham-dong-hoc-phi_cover-570178b56d545.jpg" alt="hon-100-sinh-vien-bi-dung-hoc-vi-cham-dong-hoc-phi">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/hon-100-sinh-vien-bi-dung-hoc-vi-cham-dong-hoc-phi">Hơn 100 sinh viên bị dừng học vì chậm đóng học phí</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row item">
                            <a href="http://phongtot.vn/bai-viet/sinh-vien-hao-hung-tham-gia-ngay-hoi-dinh-huong-nghe-nghiep">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/sinh-vien-hao-hung-tham-gia-ngay-hoi-dinh-huong-nghe-nghiep_cover-56e41d9cd7bcd.png" alt="sinh-vien-hao-hung-tham-gia-ngay-hoi-dinh-huong-nghe-nghiep">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="http://phongtot.vn/bai-viet/sinh-vien-hao-hung-tham-gia-ngay-hoi-dinh-huong-nghe-nghiep">Sinh viên hào hứng tham gia ngày hội Định hướng nghề nghiệp</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 sidebar">
    <div class="row">
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
        </div>
    </div>
    <div class="row">
        <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
        </div>
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
        </div>
    </div>
    <div class="clearfix"></div>
</div>