
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12 room-main-content">
            <div class="tabbable-panel" ng-controller="infoController">
                <div class="tabbable-line">
                    <div class="menu-tab">
                        <div class="menu-tab-title"><a href=""><span>Tin</span> Mới nhất <i class="fa fa-angle-right"></i></a></div>
                        <div class="menu-tab-title-right">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_type" data-toggle="tab">Tất cả</a>
                                </li>
                                <li class="" ng-repeat="item in InfoCategory">
                                    <a href="#tab_type_{{item.ID}}" data-toggle="tab">{{item.Name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_type">
                            <div class="thumbnail-list">
                                <div class="row block-item">
                                    <div class="col-sm-6 col-md-4 thumbnail-item" ng-repeat="items in Info">
                                        <div class="thumbnail">
                                            <a href="/Info/Detail/{{items.ID}}" title="{{items.Name}}">
                                                <img class="cover img-reponsive" src="http://localhost:33029/Content/images/{{items.Image}}" />
                                            </a>
                                            <div class="room-item-price">
                                                <a href="">{{items.Price| number}} Đ/tháng</a>
                                            </div>
                                            <div class="caption">
                                                <div class="title">
                                                    <h2><a href="">{{items.Name}}</a></h2>
                                                </div>
                                                <div class="extra">
                                                    <div class="pull-left">
                                                        <a href="#"><span class="fa fa-map-marker"></span>{{items.Province.name}}</a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href=""><span class="fa fa-info"></span>{{items.Acreage}} m<sup>2</sup></a>
                                                    </div>
                                                    <div class="type">
                                                        <a href=""><span class="fa fa-home"></span>{{items.CategoryInfo.Name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " ng-repeat="category in InfoCategory" id="tab_type_{{category.ID}}">
                            <div class="thumbnail-list">
                                <div class="row block-item">

                                    <div class="col-sm-6 col-md-4 thumbnail-item" ng-repeat="items in category.Infoes | limitTo:9">
                                        <div class="thumbnail">
                                            <a href="/Info/Detail/{{items.ID}}" title="{{items.Name}}">
                                                <img class="cover img-reponsive" src="http://localhost:33029/Content/images/{{items.Image}}" />
                                            </a>
                                            <div class="room-item-price">
                                                <a href="">{{items.Price| number}} Đ/tháng</a>
                                            </div>
                                            <div class="caption">
                                                <div class="title">
                                                    <h2><a href="">{{items.Name}}</a></h2>
                                                </div>
                                                <div class="extra">
                                                    <div class="pull-left">
                                                        <a href="#"><span class="fa fa-map-marker"></span>{{items.Province.name}}</a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href=""><span class="fa fa-info"></span>{{items.Acreage}} m<sup>2</sup></a>
                                                    </div>
                                                    <div class="type">
                                                        <a href=""><span class="fa fa-home"></span>{{category.Name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-article" ng-controller="postController">
                <div class="row">
                    <div class="col-md-12 home-article-label">
                        <div class="pull-left">
                            <a href="http://phongtot.vn/bai-viet"><h3><span>bài viết</span> liên quan</h3></a>
                        </div>
                        <div class="pull-right">
                            <a href=""></a><h3>
                                <a href="http://phongtot.vn/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <div class="col-md-7 left">
                        <div class="thumbnail thumb-big" ng-repeat="items in Post | limitTo:1">
                            <a href="/Post/Detail/{{items.ID}}">
                                <img class="img-responsive" src="http://localhost:33029/Content/images/{{items.Image}}" alt="">
                                <h2 class="title">{{items.Name}}</h2>
                            </a>
                            <div class="des">{{items.Description}}</div>
                        </div>
                        <div class="col-md-4 thumbnail thumb-small" ng-repeat="items in Post | limitTo:3">
                            <a href="/Post/Detail/{{items.ID}}">
                                <img class="img-reponsive" src="http://localhost:33029/Content/images/{{items.Image}}" alt="">
                                <h2 class="title" href="#">{{items.Name}}</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 right">
                        <div class="row item" ng-repeat="items in Post">
                            <a href="/Post/Detail/{{items.ID}}">
                                <div class="col-md-4 no-padding-vertical">
                                    <img class="img-responsive" src="http://localhost:33029/Content/images/{{items.Image}}">
                                </div>
                                <div class="col-md-8 no-padding-left">
                                    <h2 class="title" href="#">{{items.Name}}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 sidebar">
    <div class="row">
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
        </div>
    </div>
    <div class="row">
        <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
        </div>
        <div class="col-sm-6 col-md-12 sidebar-ads">
            <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
        </div>
    </div>
    <div class="clearfix"></div>
</div>